@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
    margin: 0;
}
body {
    margin: 0;
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    --theme-color: rgb(165, 41, 41);
    --theme-color-hover: rgb(160, 78, 78);
    --font-color-light: rgb(255, 255, 255);
}

/* header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 75px;
    width: 100vw;
    background-color: var(--theme-color);
} */

.title {
    color: var(--font-color-light);
    margin: 2%;
    font-size: large;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 80px;
    background-color: var(--theme-color);
    color: white;
}

.navbar-links {
    position: absolute;
    display: none;
    opacity: 0;
    height: min-content;
    width: 100%;
    top: 0;
    transition: 300ms;
}

.toggle-button {
    display: flex;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin: 5%;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li:hover {
    background-color: var(--theme-color-hover);
}

.navbar-links li a {
    margin: auto;
    display: block;
    text-decoration: none;
    color: white;
}

.navbar-links ul {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top: 70px;
    padding: inherit;
    width: 100%;
    flex-direction: column;
    background-color: var(--theme-color);
}

.navbar-links ul li {
    text-align: center;
}

.navbar-links ul li a {
    padding: .5rem 1rem;
}

/* .navbar-links.active {
    display: flex;
} */

.navbar-links:hover {
    display: flex;
    opacity: 1;
    transition: ease 300ms;
    transform: translateY(10px);
}

.toggle-button:hover ~ .navbar-links{
    display: flex;
}
