@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

:root {
    --theme-color: #800;
    --text-color: #444;
    --font-style: 'Montserrat', 'sans-serif','Poppins';
    --def-transition: ease 300ms;
    --raisin-black-2: hsl(245, 16%, 16%);
    --raisin-black-1: hsl(244, 17%, 19%);
    --maroon: hsl(0, 100%, 25.1%);
    --ghost-white-1: hsl(240, 100%, 99%);
    --ghost-white-2: hsl(228, 50%, 96%);
    --white-opacity: hsla(0, 0%, 100%, 0.5);
    --independence: hsl(245, 17%, 27%);
    --lavender-web: hsl(247, 69%, 95%);
    --eerie-black: hsl(210, 11%, 15%);
    --cool-gray: hsl(244, 17%, 61%);
    --white: hsl(0, 0%, 100%);
    --ff-quicksand: "Quicksand", sans-serif;
    --ff-mulish: "Mulish", sans-serif;
    --box-shadow: 0 2rem 3remrgba(132, 139, 200, 0.18);
    --input-blur-color: rgba(0, 0, 0, 0.233);
    --input-box-shadow: 3px 10px 25px 0px rgba(0, 0, 0, 0.358);
    --input-transition: cubic-bezier(.2,.55,.23,.99) 500ms;
    --background-blur-color: rgba(255, 255, 255, 0.489);
    --background-blur-amount: blur(5px);
    --background-box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.418);
}
/* 
*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;  
} */

html {
    scroll-behavior: smooth;
    font-family: var(--font-style);
    font-weight: 500;
}

body {
    margin: 0;
}

button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

.btn {
    font-size: var(--fs-6);
    font-weight: var(--fw-700);
    padding: 15px 30px;
    border-radius: 4px;
    transition: ease 350ms;
}

/* .btn:is(:hover, :focus) { transform: translateY(-2px); } */
 
.btn-primary {
    background: var(--maroon);
    color: var(--white);
}
  
.btn-primary:is(:hover, :focus) {
    --maroon: hsl(0, 100%, 25.1%);
    /* box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5); */
}
  
.btn-outline { 
    border: 1px solid var(--maroon);
    color: var(--maroon);
}
  
.btn-outline:is(:hover, :focus) {
    background: var(--maroon);
    color: var(--white);
    /* box-shadow: 0 3px 10px hsla(0, 94%, 25%, 0.5); */
}
  
.btn-secondary {
    background: hsla(245, 67%, 59%, 0.15);
    color: var(--maroon);
}

/*-----------------------------------*\
  LANDING PAGE
\*-----------------------------------*/

header {
    align-items: center;
    justify-content: space-between;
    gap: 5em;
    padding: 1.5em 0;
}
  
.logo {
    align-items: center;
    height: 50px;
}
  
.logo img {
    max-width: 70px;
}
  
.logo h1 {
    font-weight: 700;
    font-size: 35px;
}

a { 
    display: inline-block;
    text-decoration: none;
    color: black;
}
  
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
 
h1, p {
    margin: 0;
}
  
.landing-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'DM Sans', sans-serif;
}

nav ul{
    gap: 2em;
    align-items: center;
}
  
nav a{
    font-weight: 500;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}
  
nav a::after{
    display: block;
    content: "";
    width: 0;
    height: 3px;
    margin: 0 auto;
    background-color: #800000;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

nav li:nth-of-type(3) a::after{
    all: unset;
}
  
nav a:hover::after{
    width: 30px;
}

nav li:nth-of-type(3) a{
    padding: 0.5em, 1em;
    background: linear-gradient(90deg, #800000 -28.35%, rgba(255, 255, 255, 0.651) 153.96%);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
  
/*------------------- link -----------------*/
a { 
    display: inline-block;
    text-decoration: none;
    color: black;
   }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

  input, textarea {
    border: none;
    font: inherit;
    width: 100%;
}

.display {   
    margin-left: 40px;
    margin-right: 40px;
    display: flex; 
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.landing-header a h1 b{
    color: #800;
}

.header-blur {
    position: fixed;
    top: 0;
    height: 6em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.628);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.feature-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.feature-container video {
    height: 100vh;
    min-height: 1000px;
    min-width: 1500px;
    pointer-events: none;
}

@media screen and (min-width: 1350px) {
    .feature-container video {
        height: auto;
        width: 100%;
    }
}

@media screen and (min-height: 850px) {
    .feature-container video {
        min-width: 2000px;
    }
}

@media screen and (min-height: 1100px) {
    .feature-container video {
        min-width: 3000px;
    }
}

.backdrop {
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 6em;
    background: linear-gradient(180deg,rgb(154, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
}

.center-text {
    position: absolute;
    top: 37%;
    color: white;
    text-align: center;
}

.center-text h1 {
    font-family: var(--font-style);
    font-weight: 800;
    font-size: 3.5em;
}

.center-text h3, .center-text h4 {
    font-style: italic;
    font-weight: 300;
    font-size: 2em;
}

.center-text h4 {
    font-weight: 600;
    font-size: 1.2em;
}

.landing-grid { 
    margin: 3em auto 1em auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: min-content;
    width: 90vw;
    transition: ease 1s;
    text-align: center;  
    background-color: #f4f4f4;
    box-shadow: 0px 10px 15px 0 rgba(0,0,0,0.25);
    border-radius: 15px;
    font-family: 'DM Sans';

}

.landing-grid h2 {
    grid-area: 1/1/2/4;
    text-align: left;
    margin: .6em 0 .6em .6em;
}

.landing-grid h4 {
    grid-area: 2/1/3/4;
    text-align: left;
    margin-left: 1em;
    color: #679;
}

.landing-grid a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    height: 22em;
    width: 80%;
    background-color: #fffcfc;
    box-shadow: 0px 10px 15px 0 rgba(0,0,0,0.25);
    color: #000000;
    transition: ease 300ms;
}

@media screen and (max-width: 1000px) {
    .landing-grid { 
        display: flex;
        flex-direction: column;
    }

    .landing-grid h2 {
        margin: .6em 0 .6em 0;
    }

    .landing-grid h4 {
        margin-left: 0;
    }

    .landing-grid a {
        width: 50%;
        height: 15em;

    }
}

.landing-grid a:hover {
    background: var(--maroon);
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 5px 18px hsla(0, 55%, 55%, 0.4);
    color: #fffcfc;

}

 /* grid a contents */

.landing-grid a div {
    height: 8em;
    width: 7em;
}

.landing-grid a img {
    width: 7em;
}

.landing-grid a img ~ img{
    width: 7em;
    opacity: 1;
    transform: translateY(-105%);
    transition: var(--def-transition);
}

.landing-grid a span {
    font-family: 'Montserrat';
    font-weight: 400;
}

.landing-grid a span:first-of-type {
    font-weight: 700;
    font-size: 1.5em;
    font-family: 'DM Sans';

}

.landing-grid a:hover img ~ img{
    opacity: 0;
}

.transactions { padding-block: var(--section-padding); }

/* --------------------------admin-login-------------------------- */

.login-body > a {
    position: absolute;
    top: 0;
    left: 0;
}

.login-container {
    font-family: "DM sans";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20em;
    padding: 7em 5em 4em 5em;
    border-radius: 15px;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--background-blur-color);
    backdrop-filter: var(--background-blur-amount);
    box-shadow: var(--background-box-shadow);
}

.login-container div:first-of-type {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #800;
    color: #fffcfc;
    border-radius: 15px 15px 0 0;
}

.login-container div:first-of-type h1 {
    text-align: center;
    padding: .5em;
}

.login-form {
    display: flex;
    flex-direction: column;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login-form button {
    color: white;
    background-color: rgb(129, 21, 21);
    font-family: var(--font-style);
    padding: 1em 2em 1em 2em;
    border-radius: 15px;
    border: none;
    transition: ease-out 200ms;
    width: 50%;
    margin: .5em 0 .5em 0;
}

#login-form button:hover {
    background-color: rgb(148, 27, 27);
    transform: scale(1.03);
}

#login-form button:active {
    background-color: rgb(173, 32, 32);
    transform: scale(1.04);
}

#login-form label {
    margin: 5px 0 5px 0;
}

#login-form input {
    border-radius: 15px;
    background-color: var(--input-blur-color);
    box-shadow: var(--input-box-shadow);
    border: none;
    height: 2em;
    width: 80%;
    margin: .5em 0 .5em 0;
    border-bottom: rgb(129, 21, 21) solid 3px;
    transition: var(--def-transition);
}

#login-form input:hover {
    width: 85%;
    height: 2.5em;
    transform: translateY(8%);
    border-bottom: rgb(185, 60, 60) solid 3px;
}

#login-form input:focus {
    width: 100%;
    margin-bottom: 1em;
    height: 2.7em;
    transform: translateY(10%);
}

#login-form input:active {
    width: 102%;
    margin-bottom: 1em;
    height: 2.9em;
    transform: translateY(11%) translateX(-1%);
    border-bottom: rgb(185, 60, 60) solid 3px;
}

/* -------------display------------- */

.display-body {
    background-color: #f5f5f5;
}

.display-background { /* used universally */
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(66deg,#ffffff 0%, #fafafa 80%);
    overflow: hidden;
    z-index: -1;
}

.display-background > img {
    height: 100vh;
    min-width: 800px;
    opacity: 0.6;
    filter: brightness(1.1);
}

@media screen and (min-width: 1200px) {
    .display-background > img {
        height: auto;
        width: 100%;
    }
}

@media screen and (min-height: 850px) {
    .display-background > img {
        min-width: 2000px;
    }
}

@media screen and (min-height: 1100px) {
    .display-background > img {
        min-width: 3000px;
    }
}


.display-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10vh;
    height: 90vh;
    width: 80%;
}

.display-transaction-type,
.display-transaction-serving {
    display: flex;
    flex-direction: column;
    font-family: "DM sans";
    width: 70%;
    height: min-content;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.363);
    backdrop-filter: blur(10px);
    box-shadow: 3px 10px 15px 0px rgba(0,0,0,0.40);
}

@media screen and (min-width: 1300px) {
    .display-transaction-type,
    .display-transaction-serving {
        width: 50%;
    }
}

.display-transaction-type > div:first-of-type,
.display-transaction-serving > div:first-of-type {
    background: linear-gradient(225deg,#c60202 0%, #990606 80%);
    color: #fffcfc;
    border-radius: 15px 15px 0 0;
}

.display-transaction-type div:first-of-type h1,
.display-transaction-serving div:first-of-type h1 {
    text-align: center;
    padding: 0.5em;
}

.display-transaction-type div:first-of-type ~ div h1 {
    text-align: center;
    margin: 1em;
    color: #000000;
}

.display-transaction-serving div:first-of-type ~ div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #000000;

}

.display-transaction-serving div:first-of-type ~ div h1 {
    margin: 2em 0 2em 0;
}

.display-transaction-serving div:first-of-type ~ div h1::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    width: 1px;
    height: 60px;
    transform: translateY(-85%);
    background-color: #4d4d4d;
}

.display-transaction-serving div:last-of-type div {
    width: 100%;
}

/* --------------queue-registration---------------*/

.registration-container {
    position: absolute;
    left: 50%;
    top: 50%;
    font-family: "DM sans";
    background-color: var(--background-blur-color);
    backdrop-filter: var(--background-blur-amount);
    box-shadow: var(--background-box-shadow);
    height: 60vh;
    width: max-content;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 15px;
}

.registration-container > div:first-of-type {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #800;
    color: #fffcfc;
    border-radius: 15px 15px 0 0;
}

.registration-container div:first-of-type h1 {
    text-align: center;
    padding: .5em;
}

.registration-form-container {
    height: 100%;
    padding: 0 2.5em 0 2.5em;
}

.registration-form-container form {
    position: relative;
    top: 4.7em;
    display: flex;
    flex-direction: column;
    height: 85%;
    width: max-content;
    align-items: center;
    justify-content: space-around;
}
.registration-form-container form div {
    height: min-content;
    width: max-content;
}

.registration-form-container form div:first-of-type,
.registration-form-container form div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* button */

.registration-form-container form button {
    color: white;
    background-color: rgb(129, 21, 21);
    font-family: var(--font-style);
    padding: 1em 2em 1em 2em;
    border-radius: 15px;
    border: none;
    transition: ease-out 200ms;
    margin: .5em 0 .5em 0;
}

.registration-form-container form button:hover {
    background-color: rgb(148, 27, 27);
    transform: scale(1.03);
}


.registration-form-container form button:active {
    background-color: rgb(173, 32, 32);
    transform: scale(.98);
}

/* label */

.registration-form-container form label {
    margin: 5px 0 5px 0;
    width: 100%;
    text-align: left;
}

/* input */

.registration-form-container input {
    border-radius: 15px;
    background-color: var(--input-blur-color);
    box-shadow: var(--input-box-shadow);
    border: none;
    height: 3em;
    width: 20em;
    margin: .5em 0 .5em 0;
    border-bottom: rgb(129, 21, 21) solid 3px;
    transition: var(--def-transition);
}

.registration-form-container input:hover {
    width: 21em;
    height: 3.5em;
    transform: translateY(8%);
    border-bottom: rgb(185, 60, 60) solid 3px;
}

.registration-form-container input:focus {
    width: 30em;
    margin-bottom: 1em;
    height: 3.7em;
    transform: translateY(10%);
    transition: var(--input-transition);
}

.registration-form-container input:active {
    width: 33em;
    margin-bottom: 1em;
    height: 3.9em;
    transform: translateY(11%) translateX(-1%);
    border-bottom: rgb(185, 60, 60) solid 3px;
    transition: var(--input-transition);

}

/* select */

.registration-form-container select {
    border-radius: 15px;
    background-color: var(--input-blur-color);
    box-shadow: var(--input-box-shadow);
    border: none;
    height: 3em;
    width: 20em;
    margin: .5em 0 .5em 0;
    border-bottom: rgb(129, 21, 21) solid 3px;
    transition: var(--def-transition);
}

.registration-form-container select:hover {
    width: 21em;
    height: 3.5em;
    transform: translateY(8%);
    border-bottom: rgb(185, 60, 60) solid 3px;
}

.registration-form-container select:focus {
    width: 30em;
    margin-bottom: 1em;
    height: 3.7em;
    transform: translateY(10%);
    transition: var(--input-transition);
}

.registration-form-container select:active {
    width: 33em;
    margin-bottom: 1em;
    height: 3.9em;
    transform: translateY(11%) translateX(-1%);
    border-bottom: rgb(185, 60, 60) solid 3px;
    transition: var(--input-transition);
}